
.ui.card .meta, .ui.cards>.card .meta,
.ui.cards>.card>.content>.meta+.description {
  color:  #14213D;
  text-align: justify;
  padding:1rem;
}

.ui.fluid.card.card {
  padding:1rem;
}

.header.tag {
  margin: auto;
  width: 30%;
margin: 1rem auto 2rem;
}

.ui.card .meta, .ui.cards>.card .meta>p {
 color: #14213D;
}

.ui.card>.content p.participation {
display: flex;
flex-direction: column;
}

.ui.card.cardEvent{
  width: 100%;
}
