//page 403
$border: 1px solid black;
$margin: 25px 0;
$padding:1.5;

$black: #000;
$semi-black: #1a2130;
$white: #fff;
$dress: #ededed;
$dress-dark: darken($dress, 10%);
$sword: #e6e6e6;
$staff: #bf5507;
$skin: #ffd8ad;
$hair: #c2beb5;
$hair-dark: darken($hair, 10%);
$lips: pink;
$fire: black, #6C1305, #DE8531, #EFAC41;
$fire-reverse:#EFAC41, #DE8531, #6C1305, black;


